body, input, button {
    background-color: black;
}
input, th , td, p, button, label {
    color: #1AFF00;
}
p {
    margin: 0px;
}
.margin {
    margin: 1em 0 1em 0;
}
input {
    border: 2px #1AFF00 solid;
    outline: #1AFF00;
}
.border{
    border: solid #1AFF00 1px
}
#floatLeft {
    float: left;
}
#floatRight {
    float: right;
}
.button {
    color: #1AFF00;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    background-color: black;
    border: 2px solid #1AFF00;
}
.button:hover {
    background-color: #1AFF00;
    color: black;
}