body, input, button {
    background-color: black;
}
input, th , td, p, button {
    color: #1AFF00;
}
input {
    width: 100%;
    height: 10%;
}
p {
    margin: 0px;
}
.margin {
    margin: 1em 0 1em 0;
}
input {
    border: 2px #1AFF00 solid;
    outline: #1AFF00;
}
.border{
    border: solid #1AFF00 1px
}
#floatLeft {
    float: left;
}
#floatRight {
    float: right;
}
.button {
    color: #1AFF00;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 10%;
    cursor: pointer;
    background-color: black;
    border: 2px solid #1AFF00;
}
.button:hover {
    background-color: #1AFF00;
    color: black;
}
.centerChild {
    height: 100%;
    width: 100%;
    align-items: center;
}
.center {
    height: 100%;
    width: 50%;
    margin: auto;
    vertical-align: middle;
    border: #1AFF00 solid 2px;
}
.center2 {
    border: none;
}
